.head{
    font-size:100px;
    text-align: center;
    margin:10px auto;
    margin-bottom:0px;
}
.part{
    border-radius:30px;
    font-size:20px;
    margin:10px auto;
}
.part legend{
    font-size:30px;
}
.go_back{
    font-size:30px;
}
@media(max-width:340px){
    .part{
        font-size:5vh;
    }
}
@media(max-width:750px){
    .head{
        font-size:14vw;
    }
}